.status {
  width: 148px;
  height: 24px;
  text-align: center;
}

.processed {
  background-color: #ebf7ea;
  color: #2f8f2e;
}

.pending {
  background-color: #e9f6fc;
  color: #2687be;
}

.failed {
  background-color: #fcece9;
  color: #bd3827;
}
