<section>
  <form (ngSubmit)="submitAnswer()">
    <header class="task-header">
      <img src="task.png" alt="Task Icon" class="task-icon" />
      <span class="splitter"> </span>
      <span class="task-title">Read aloud | Q 1/3</span>
    </header>
    <div class="question">
      <p>QUESTION:</p>
      <div>
        {{ task().question }}
      </div>
    </div>

    <div class="answer">
      <p>
        <label for="text-answer">ANSWER:</label>
        <textarea
          id="text-answer"
          name="answer"
          placeholder="Enter your answer"
          [(ngModel)]="task().answer"
        ></textarea>
      </p>
    </div>
    <footer>
      <button class="submit-button" [disabled]="!task || !task().answer.length">
        Submit
      </button>
    </footer>
  </form>
</section>
